body{
	background-color: rgba(0,0,0,0.3);
}

h1 {
	font-family: Helvetica;
	text-align: center;
}

h2 {
	padding: 10px;
	background-color: rgba(0,0,0,0.2);
}

h3 {
	margin: 0;
}

#alles{
	width:60%;
	margin-left: 20%;
}

#mitgliedertabelle {
	width: 100%;
	padding: 15px;
}

td,th{
	padding: 5px;
}

.einKasten{
	margin: 2%;
	background-color: rgba(0,0,0,0.2);
	padding: 2%;
	padding-top: 1%;
	width: 94%;
}

.inhaltKasten{
	padding: 10px;
	background-color: rgba(0,0,0,0.2);
}

.abstandoben {
	margin-top: 2%;
}

@media only screen and (max-width: 600px) {
    #alles {
		width: 100%;
		margin-left: 0;
	}
}

@media (max-width: 1000px){
	#alles {
		width: 80%;
		margin-left: 10%;
	}
}

@media (max-width: 800px){
	#alles {
		width: 100%;
		margin-left: 0;
	}
}